.add-flex {
  display: flex;
}
.list-name {
  border: 1px solid #eee;;
}
.add-item {
  color: #38adff;
}
.list-item {
  width: 100%;
  height: 30px;
  margin: 12px;
  background: #38adff;
  color: #fff;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  // @include list-item();
}
