page {
  background: #f7f7f7;
}
.tab-topper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  .tab-item {
    color: #333;
  }
  .tab-active-item {
    color: #009944;
    position: relative;
    &::after {
      position: absolute;
      bottom: 0; left: 25%;
      width: 50%;
      height: 4px;
      background: #009944;
      content: '';
    }
  }
}